
# gradle
.gradle
build

# eclipse
.project
.classpath
.settings
.metadata
bin
*.launch

# idea
.idea
*.ipr
*.iws
*.iml
out

# Files from Forge MDK
forge*changelog.txt

# other
local.properties
run
eclipse
fluorite-7
~$*.xlsx
/logs
/hs_err_pid*.log
/replay_pid*.log
